<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>582629152458-s2ir21srdlggei87fhnj6t3ad6cen1n8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582629152458-s2ir21srdlggei87fhnj6t3ad6cen1n8</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Cs5ETvjz8sI6pd_uEBiB1MtI7e2Qpck</string>
	<key>GCM_SENDER_ID</key>
	<string>582629152458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iz.OnRad-io-Connect</string>
	<key>PROJECT_ID</key>
	<string>step-mining</string>
	<key>STORAGE_BUCKET</key>
	<string>step-mining.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582629152458:ios:005cc20a15be8744</string>
	<key>DATABASE_URL</key>
	<string>https://step-mining.firebaseio.com</string>
</dict>
</plist>